{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Edici&oacute;n de t&iacute;tulo</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('titulos') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<script type="text/javascript">
$(function(){
	// le seteo imagen si ya tiene cargada
	var imagen = '<img src="/uploads/titulo/{{ entity.id }}.jpg" width="100">';
	{% if entity.destacado == "1" %}
    	var destacado = "1";
    {% else %}
    	var destacado = "0";
	{% endif %}

	if (destacado == "1")
	{
		var imagen_carousel = '<img src="/uploads/carousel/{{ entity.id }}.jpg" width="100">';

		$("#upload_carousel").removeClass("hidden");

		$("#fileuploader_carousel").uploadFile({
		    url:"{{ url('admin_upload_pic') }}",
		    fileName:"myfile",
		    onSuccess:function(files,data,xhr)
		    {
		        $("#nombreArchivoCarousel").val(files);
		        var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
		        $("#imagen_subida_carousel").html(imagen);
		    }
		});

		$("#imagen_subida_carousel").html(imagen_carousel);
	}

	$("#imagen_subida").html(imagen);

	// inicio el fileuploader
	$("#fileuploader").uploadFile({
	    url:"{{ url('admin_upload_pic') }}",
	    fileName:"myfile",
	    onSuccess:function(files,data,xhr)
	    {
	        $("#nombreArchivo").val(files);
	        var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
	        $("#imagen_subida").html(imagen);
	    }
	});

});
</script>
{% endblock %}
