{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Listado de t&iacute;tulos</h1>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nro de capitulo</th>
                <th>Duracion</th>
                <th>Temporada</th>
                <th>Subtitulado</th>
                <th>URL de vimeo</th>
                <th>Destacado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="entity_{{ entity.id }}">
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.nroCapitulo }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.temporada }}</td>
                <td>{{ entity.subtitulado == "1" ? "S&iacute;": "No" }}</td>
                <td>{{ entity.urlVimeo }}</td>
                <td>{{ entity.destacado == "1" ? "S&iacute;": "No" }}</td>
                <td class="text-center">
                    <a href="{{ path('titulos_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td class="text-center">
                    <a href="javascript: destroy({{ entity.id }})"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('titulos_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
