{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Listado de t&iacute;tulos</h1>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nro de capitulo</th>
                <th>Duracion</th>
                <th>Temporada</th>
                <th>Subtitulado</th>
                <th>URL de vimeo</th>
                <th>Destacado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('titulos_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>{{ entity.nroCapitulo }}</td>
                <td>{{ entity.duracion }}</td>
                <td>{{ entity.temporada }}</td>
                <td>{{ entity.subtitulado }}</td>
                <td>{{ entity.urlVimeo }}</td>
                <td>{{ entity.destacado }}</td>
                <td>
                    <a href="{{ path('titulos_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('titulos_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
