{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Titulos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nrocapitulo</th>
                <td>{{ entity.nroCapitulo }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Temporada</th>
                <td>{{ entity.temporada }}</td>
            </tr>
            <tr>
                <th>Subtitulado</th>
                <td>{{ entity.subtitulado }}</td>
            </tr>
            <tr>
                <th>Sinopsis</th>
                <td>{{ entity.sinopsis }}</td>
            </tr>
            <tr>
                <th>Urlvimeo</th>
                <td>{{ entity.urlVimeo }}</td>
            </tr>
            <tr>
                <th>Destacado</th>
                <td>{{ entity.destacado }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('titulos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('titulos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
