{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Listado de g&eacute;neros</h1>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="entity_{{ entity.id }}">
                <td>{{ entity.nombre }}</td>
                <td class="text-center">
                    <a href="{{ path('generos_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td class="text-center">
                    <a href="javascript: destroy({{ entity.id }})"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('generos_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
